@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
}
header .div{
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}

nav a{
    text-decoration: none;
    color: #333;
    margin: 0 15px;
    font-size: 20px;
    font-weight: bold;
}

.contact-btn{
    text-decoration: none;
    background-color: orange;
    color:white;
    padding: 15px 30px;
    border-radius: 15px;
    margin: 20px;
    font-size: 20px;
    font-weight: bold;
}

 .nav-bar{
    display: flex;
    margin: 20px;
 }
.logo{
    display: flex;
    align-items: center;
}
.nav-btn1{
    text-decoration: none;
    color: orange;
}
.nav-btn2{
    text-decoration: none;
    color: skyblue;
}
.nav-btn3{
    text-decoration: none;
    color: #05D4DF;
}
.nav-btn4{
    text-decoration: none;
    color: #5D58EF;
}
.fa-solid{
    width: 40px;
    font-size: 35px;
}



marquee {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    background-color: #751d9d;
    padding: 10px 0;
}





/* main */
.kid-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 100px;
}
.heading{
    font-size: 45px;
    padding-bottom: 15px;
    font-family: "Quicksand", serif;
}
.heading-des{
    padding: 90px 20px;
    font-family: "Quicksand", serif;
}
.Empowering{
    color: orange;
}
.towards{
    color: skyblue;
}

.Enroll-btn{
    color: white;
    background-color: black;
    padding: 15px 25px;
    border-radius: 15px;
    font-size: medium;
    text-align: center; 
    cursor: pointer; 
}

.hero{
    width: 100%;
}

.second-page{
    padding: 20px 100px;
    background-image: url(../assets/bg.png);
    display: flex;
    text-align: center;
    align-items: center;

}
.standard-h1{
    font-family: "Quicksand", serif;
    padding-bottom: 30px;
    font-size: 35px;
    font-weight: 900px;
}
.age-container{
    display: flex;

    gap: 30px;
}

.age-card1{
    border-radius: 15px;
    padding: 30px;
    background: linear-gradient(145deg, #d1e9f4, #f1f3f4);
    font-family: "Quicksand", serif;
}
.age-card1 a{
    text-decoration: none;
    font-weight: bold;
}
.age-card2{
    border-radius: 15px;
    padding: 30px;
    background: linear-gradient(145deg, #fae6d7, #f1f3f4);
    font-family: "Quicksand", serif;

}
.age-card2 a{
    text-decoration: none;
    font-weight: bold;
    color: orange;
}
.age-card3{
    border-radius: 15px;
    padding: 30px;
    background: linear-gradient(180deg, #ead8f8, #f5f5f5);
    font-family: "Quicksand", serif;
}
.age-card3 a{
    text-decoration: none;
    font-weight: bold;
    color: #8e47e6;
}


.story{
    
    background-image: url(../assets/bg.png);
    background-repeat: no-repeat;
    background: linear-gradient(0deg, #ede9a4, #f3fbfb);
    /* background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url('../assets/bg.png') no-repeat center center fixed; */
    padding: 20px 100px;
}

.story-header{
    text-align: center;
    font-size: 40px;
    font-family: quicksand;
    font-weight: bold;
}
/* Photo collage */
.photo-row{
    display: flex;
    flex-direction: row;
    gap: 30px;
    
}
.photo-row h3 ,p{
    background-color: white;
    padding: 10px;
}
.photo-row .img1-h3{
    margin-top: -28px;
}
.photo-row p{
    border-radius: 0px 0px 10px 10px;
}

.view {
    display: flex;         
    justify-content: center; 
    align-items: center;    
    height: 5vh;           
}

.view .view-btn {
    color: white;
    background-color: black;
    padding: 15px 25px;
    border-radius: 15px;
    font-size: medium;
    text-align: center; 
    cursor: pointer; 
}

.photo-row img{
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0px 0px;
}
.img1-container{
    display: flex;
    flex-direction: column;
    
}
.img1-container button{
    width: 150px;
    padding: 5px;
    background-color: rgb(83, 184, 225);
    color: white;
    border-radius: 10px;
    position:relative;
    top: -20px;
    left: 30px;
}
.img1-container .img1{
    width: 100%;
    height: 70%;

}

.pic-row4{
    /* height: 400px; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.pic-row4 img{
    height: 35%;
}

.pic-row4 button{
    width: 150px;
    padding: 5px;
    background-color: rgb(83, 184, 225);
    color: white;
    border-radius: 10px;
    position:relative;
    top: -20px;
    left: 30px;
}

.photo-row .img-h{
    margin-top: -30px;
    margin-bottom: 20px;
}

.photo-row h3{
    border-radius: 0px 0px 10px 10px;
}
.pic-row4 .btn1{
    background-color: #8e47e6;
}
.pic-row4 .btn2{
    background-color: #47e64c;
}
.pic-row4 .btn3{
    background-color: #b69436;
}
.pic-row4 .btn4{
    background-color: #e64781;
}


.footer-page{
    display: flex;
    background-color: skyblue;
    padding: 100px;
    gap: 30px;
}
.footer-page .logo{
    display: flex;
    flex-direction: row;
    color: white;
    font-family: quicksand;

}

.footer-page p{
    background-color: skyblue;
    font-family: quicksand;
}

.about{
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 22px;
}
.about a{
    color: white;
    text-decoration: none;
    font-size: 22px;
    font-family: quicksand;
}
.social-link{
    font-size: 22px;
    padding-left:100px ;
}


@media screen and (max-width: 576px) {
    nav{
        display: none;
    }
    .contact-btn{
        display: none;
    }

    header{
        padding: 30px;
        border-bottom: orange solid ;
    }

    
    .kid-container{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        text-align: center;
    }
    .hero{
        width: 100%;
        /* margin-right: 20px; */
    }

    .age-container{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .img1-container{
        display: none;
    }
    .view{
        height: 35vh;
    }

    .pic-row4 button{
        width: 150px;
        padding: 5px;
        background-color: rgb(83, 184, 225);
        color: white;
        border-radius: 10px;
        position:relative;
        top: -20px;
        left: 10px;
    }

    .footer-page{
        display: flex;
        flex-direction: column;
        align-items: start;

    }
    
}
